:root{
    --primary-VeryDarkMagenta:hsl(300, 43%, 22%);
    --primary-SoftPink:hsl(333, 80%, 67%);
    --neutralDarkGrayishMagenta:hsl(303, 10%, 53%);
    --neutralLightGrayishMagenta:hsl(300, 24%, 96%);
    --neutralWhite:hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
}
.container{
    max-width: 1000px;
    height: auto;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-VeryDarkMagenta);
}
h3{
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--primary-VeryDarkMagenta);
}
.row .col p{
    color: var(--neutralDarkGrayishMagenta);
    font-weight: 400;
}
.card,
.card-header{
    background-color: var(--primary-VeryDarkMagenta);
}
.card img{
    padding-right: 1rem;
    width: 50px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.card-header .sub-header h4{
    color: var(--neutralWhite);
    font-size: 0.9rem;
}
.card-header .sub-header h5{
    color: var(--primary-SoftPink);
    font-size: 0.9rem;
}
.card .card-body p{
    color: var(--neutralWhite);
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.row .col:nth-child(2) .card{
    margin-top: 1.5rem;
}
.row .col:nth-child(3) .card{
    margin-top: 3rem;
}
.rate{
    display: flex;
    align-items: center!important;
    justify-content: flex-start!important;
    padding-left: 1.5rem!important;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width: 85%;
    background-color: var(--neutralLightGrayishMagenta);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rate:nth-child(2){
    margin-left: 2rem;
}
.rate:nth-child(3){
    margin-left: 4rem;
}
.star,
.star-1,
.star-2{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #ff9800;
  }
.star:last-child,
.star-1:last-child,
.star-2:last-child{
    margin-right: 2rem;
  }
  .star_rating {
    user-select: none;
  }
  
  .star:hover {
    cursor: pointer;
  }
@media(min-width:576px){
    body{
        background:url("../images/bg-pattern-top-desktop.svg"),url("../images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-position: top left,right bottom;
    }
}
@media(max-width:576px){
    body{
        background:url("../images/bg-pattern-top-mobile.svg"),url("../images/bg-pattern-bottom-mobile.svg") ;
        background-repeat: no-repeat;
        background-position: top left,right bottom;
    }
    .container{
        text-align: center;
        margin: 3rem 0;
    }
    .row .col .card{
        margin-top: 1rem!important;
    }
    .rate{
        flex-direction: column;
        width: 90%!important;
        margin: 1rem !important;
    }
    .col-12 .rate .stars{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}